h1{
  text-align: center;
}

form {
  text-align: center;
  padding-top: 2%;
}
b {
  font-size: 20px;
}

.input {
  text-align: center;
  width: 100px;
}

.insult_msg {
  text-align: center;
  padding-top: 3%;
}
