<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Troll Talk</title>
</head>
<body>
 <h1> Troll Talk </h1>

 <form action="{{ "/" }}" method="post" class="form">
    <b>Phone number:</b> <br>
    <input type="text" name= "phone_num">
    <br>
    <br>
    <b>Carriers:</b> <br>
    <select name="carrier">
      <option value="verizon">Verizon</option>
      <option value="att">AT&T</option>
      <option value="sprint">Sprint</option>
      <option value="tmobile">T-Mobile</option>
    </select>
    <br>
    <br>
    <br>
    <input type="submit" class="submit-btn">
  </form>

  <div class = "insult_msg"
    <p>
        {{ msg }}
        {{ insult }}
    </p>
  </div>
</body>
</html>
