<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Troll Talk</title>
</head>
<body>
 <h1> Troll Talk </h1>

 <form action="{{ "/" }}" method="post">
    <b>Phone number:</b> <br>
    <input type="text" name= "phone_num">
    <br>
    <b>Carriers:</b> <br>
    <select name="carrier">
      <option value="verizon">Verizon</option>
      <option value="att">AT&T</option>
      <option value="sprint">Sprint</option>
      <option value="tmobile">T-mobile</option>
    </select>
    <br>
    <br>
    <input type="submit">
</form>

<p>
    {{ msg }}
    {{ insult }}
</p>
</body>
</html>
